.HomeContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    /* background-color: #ff0000; */
}

.Home{
    display: block;
    /* border: 1px solid red; */
    margin-left: 270px;
    transition: 0.2s linear;
    width: 100%;
    margin-top: 67px;
}

.onSideClose{
    margin-left: 0px;
    transition: 0.2s linear;
    width: 100%;
    margin-top: 67px;
}