

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* .form-control,.form-control:active,.form-control:focus,input:focus,.input:active {
  border: 1px solid #aab9bb !important;
}

input[type=text]:focus:not([readonly]) + label, input[type=password]:focus:not([readonly]) + label {
  color: #aab9bb; 
}

input[type=text]:focus:not([readonly]),input[type=password]:focus:not([readonly]) {
  border: 1px solid #aab9bb;
  box-shadow: 0 1px 0 0 #aab9bb; 
}
/* 
input[type=radio],input[type=radio]:focus{
  color: #aab9bb !important;
} */


/* input[type='radio'] {
  background-color: #ffffff !important;
}
input[type='radio']:after {
  background-color: #f70000 !important;
} */
/* 
input[type='radio']:checked::after {
background-color: #002aff;
} */
/* 
input[type=radio] {
  accent-color: pink;
}

input[type=radio] {
  accent-color: rgb(0, 255, 0);
}

input[type=radio]{
  accent-color: auto;
}

input[type=radio] {
  accent-color: #FF0000 !important;
} */


