.container {
    /* border: 1px solid red; */
    width: 100% !important;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
}

/* Top Container Starts */
.topContainer {
    /* border: 1px solid rgb(12, 47, 246); */
    display: flex;
    justify-content: space-between;
}

/* Left Top Container */
.leftTopContainer {
    display: flex;
    padding-top: 16px;
}

.topContainerLeftText {
    font-size: 22px;
    margin-left: 10px;
    font-weight: 300;
    color: #767676;
}

/* Left Top Container */

.progressBarTopContainer {
    display: flex;
    /* border: 1px solid red; */
    padding-top: 2px;
}

.containerRightProgress {
    /* border: 1px solid black; */
    height: 60px;
    padding-left: 10px;
}

/* Top Container Over */

/* Box Container Starts */
.containerBoxes {
    margin-top: 40px;
    padding-left: 0px;
    padding-right: 0px;
    /* border: 1px solid red; */
    width: 100% !important;
}

/* Inside Container Box Styles */
.insideContainerBox {
    /* border: 1px solid black; */
    border-radius: 3px;
    height: 97px;
    padding-left: 20px;
    padding-top: 5px;
}

.insideContainerBox:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    cursor: pointer;
}

.countICB {
    font-size: 40px;
    font-weight: 500;
    color: white;
    user-select: none;
}

.infoICB {
    font-size: 18px;
    color: white;
    font-weight: normal;
    margin-top: -10px;
}

/* Inside Container Box Styles */

/* Box Container Ends */